# ========== Telegram ==========
BOT_TOKEN_USER=8701967809:AAFgCMAlObx_xRy4QViAf2KeDFAsfwuOlmc
BOT_TOKEN_ADMIN=YOUR_ADMIN_BOT_TOKEN_HERE
ADMIN_TG_IDS=1684041357

# ========== Remnawave (local) ==========
REMNAWAVE_API_URL=http://127.0.0.1:3000
REMNAWAVE_USERNAME=admin
REMNAWAVE_PASSWORD=admin

# ========== YooKassa ==========
YOOKASSA_SHOP_ID=123456
YOOKASSA_SECRET_KEY=test_Bz6xK...
WEBHOOK_SECRET=change_me_random_string_here

# ========== Database ==========
DATABASE_URL=postgresql+asyncpg://blayvpn:password@localhost:5432/blayvpn

# ========== Redis ==========
REDIS_URL=redis://localhost:6379/0

# ========== Channel ==========
REQUIRED_CHANNEL=@vpnBlay
REQUIRED_CHANNEL_ID=-1001234567890

# ========== Server ==========
SERVER_DOMAIN=https://panel.komissarovka.ru
WEBHOOK_PATH=/webhook/blayvpn
WEBHOOK_PORT=8080
